.header::after {
    content: "";
    position: absolute;
    width:6rem;
     left: 2.5rem  ;
    
    bottom: 0;
    top: 50%;
    border-top: .2rem solid black;


}
.header::before {
    content: "";
    position: absolute;
    width:6rem;
     right: 2.5rem  ;
    
    bottom: 0;
    top: 50%;
    border-top: .2rem solid black;


}