.header::after {
  content: "";
  position: absolute;
  width: 6rem;
  left: 2.5rem;

  bottom: 0;
  top: 50%;
  border-top: 0.2rem solid black;
}
.header::before {
  content: "";
  position: absolute;
  width: 6rem;
  right: 2.5rem;

  bottom: 0;
  top: 50%;
  border-top: 0.2rem solid black;
}

.labelStyle {
  position: absolute;
  left: 1rem;
  top: 100%;
  opacity: 0;
  transition: all 0.5s;
  color: white;
}

.goUp {
  top: -2rem;
  opacity: 1;
}
